.contenedor {
max-width: 1100px;
margin:  flex;
padding: 24px;
font-family: Arial, sans-serif;
}
.productos {
display: grid;
grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
gap: 16px;
}
.producto-card {
border: 1px solid #e11212;
border-radius: 10px;
padding: 16px;
background: rgb(0, 0, 0);
}

.buscador{
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}


.filtro{
    align-items: center;
    margin-bottom: 15px;
}

.filtrotext{
    align-items: center;
    margin-bottom: 15px;
    font-weight: bold;
    font-size: 20px;
}

